// ==========================================================================
// Hero
// ==========================================================================

.hero {
	height: 335px;
	background: url('https://k-d-g.github.io/images/programming_wordle.png');
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: em(50px);
}
